@using System.Security.Claims
@{ var _path = Context.Request.Path.ToString();}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>InvestmentWallet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/global.css" />

</head>
<body style="background-color: var(--mdb-gray-dark)">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Toggle button -->
        <button
          class="navbar-toggler text-light"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link @(_path.Contains("Dashboard") ? "active" : "")" href="/Dashboard/Index">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link @(_path.Contains("Carteira") ? "active" : "")" href="/Carteira/Index">Carteiras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link @(_path.Contains("Operacao") ? "active" : "")" href="/Operacao/Index">Operações</a>
            </li>
          </ul>
          <!-- Left links -->

          <div class="d-flex align-items-center">
            <div class="d-none d-md-block me-4">
                <span class="text-light">
                    Bem vindo 
                </span>
                <strong class="ms-1 text-info" >
                    @User.Claims.Where(claim => claim.Type == ClaimTypes.GivenName).Select(claim => claim.Value).FirstOrDefault()
                </strong>
            </div>
            <a type="button" class="btn btn-outline-danger me-3" href="/Account/Logout">
              Encerrar Sessão
            </a>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
</body>
</html>
