@model InvestmentWallet.Presentation.Models.DashboardEditarPerfilModel
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<nav class="navbar navbar-expand-lg bg-info mt-5">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
      </ol>
    </nav>
  </div>
</nav>

<section class="">
    <div class="row d-flex justify-content-center align-items-center mt-5">
            <div class="col-md-6">
                <div class="card bg-dark bg-gradient text-white">
                    <div class="card-header">
                        <h3>
                            Criar operação
                        </h3>
                    </div>
                    <div class="card-body text-center">
                            <!-- Exibir mensagens -->
                        @if (TempData["MensagemSucesso"] != null)
                        {
                        <div class="bg-success text-center text-light form-control alert-dismissible fade show">
                            <strong>Parabéns!</strong> @TempData["MensagemSucesso"]
                        </div>
                        }
                        else if (TempData["MensagemAlerta"] != null)
                        {
                        <div class="bg-warning text-light text-center form-control alert-dismissible fade show">
                            <strong>Alerta!</strong> @TempData["MensagemAlerta"]
                                                       
                        </div>
                        }
                        else if (TempData["MensagemErro"] != null)
                        {
                        <div class="bg-danger text-light text-center form-control alert-dismissible fade show">
                            <strong>Erro!</strong> @TempData["MensagemErro"]
                        </div>
                        }
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(FormMethod.Post, new {@class=""}))
                        {
                            @Html.HiddenFor(model => model.IdUsuario);

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-outline">
                                        @Html.TextBoxFor(model => model.Nome, new {@class="form-control text-white", @id="nome"})
                                        <label class="form-label small text-white-50" for="nome">Nome</label>
                                    </div>
                                    <div class="text-danger small">@Html.ValidationMessageFor(model => model.Nome)</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-outline">
                                        @Html.TextBoxFor(model => model.Email, new {@class="form-control text-white", @id="sigla"})
                                        <label class="form-label small text-white-50" for="sigla">Email</label>
                                    </div>
                                    <div class="text-danger small">@Html.ValidationMessageFor(model => model.Email)</div>
                                </div>
                            </div>                           
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="text-small text-white-50">Perfil de investidor</label>
                                    @Html.DropDownListFor(model => model.PerfilInvestidor, Model.SelectItemsPerfilInvestidor, new { @class = "form-select bg-dark-50 text-light" })
                                    <div class="text-danger small">@Html.ValidationMessageFor(model => model.PerfilInvestidor)</div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary form-control">Salvar Alterações</button>
                        }
                    </div>
                    
                </div>
            </div>

        </div>

</section>